
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    background: #ffffff;
}

.header_section{
    margin-top: 50px;
    text-align: center;
}

.header_section h1{
    font-size: 40px;
    color: #f6ae31;
}

.header_section p{
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}



.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container{
    position: relative;
}

.container .card{
    width: 350px;
    border-radius: 25px;
    background: #000000;
    box-shadow: 0 0 20px #0f111a;
}

.container .card .img_container{
    padding: 25px;
    padding-bottom: 40px;
}

.img_container img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid #000000;
}

.card .info{
    border-top: 2px solid #000000;
    position: relative;
}

.card .info .name{
    position: absolute;
    left: 50%;
    top: -32px;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    background: #eb9c12;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    white-space: nowrap;
  
}

.card .info .post{
    margin-top: 55px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #f6ae31;
    font-family: "Lexend", sans-serif;
}

.card .info .about{
    padding: 25px;
    padding-top: 8px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: "Lexend", sans-serif;
}


.container .card .footer{
    padding: 10px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .social_icon button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #f6ae31;
    font-size: 22px;
    margin-right: 7px;
    cursor: pointer;
}

.footer .btn button{
    padding: 10px 20px;
    background: #f6ae31;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -10px #f6ae31;
}

.owl-carousel .owl-stage{
    display: flex;
    justify-content: center;
}

.owl-carousel .owl-item{
    display: flex;
    justify-content: center;
}


.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 25px);
    transform: translateY(-50%);
    left: -10px;
    font-size: 50px !important;
    color: #000000 !important;
    opacity: 1;
    z-index: 1;
}

.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 25px);
    transform: translateY(-50%);
    right: -10px;
    font-size: 50px !important;
    color: #fff !important;
    opacity: 1;
    z-index: 1;
}

.owl-dots{
    margin-top: px;
}

.owl-dots .owl-dot span{
    background: #f6ae31 !important;
}

.owl-dots .owl-dot.active span{
    transform: scale(1.6);
    background: #fff !important;
    border: 2px solid #f6ae31;
}